ul, a{
    list-style-type: none;
    text-decoration: none;
    color: white;
}
a:hover{
    color:white;
}

.wrapper {
    min-height: calc(100vh - 300px);
}

#application > input {
    margin-bottom: 2rem;
}

.blog-link{
    color:black;
}
.readmoreLink{
    color:blue;
}
.readmoreLink:hover, .blog-link:hover{
    color:orange;
}

.sidebar{
    
}